<!DOCTYPE html>
<html>
<head>
  <title>GettingStarted</title>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
