$brand-primary: #532F8C;
$brand-language: #B01302;

.jumbotron {
  background: $brand-primary;
  color: white;
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    background: $brand-language;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }

}

