form a {
  margin-left: 5px;
}

/*content post take formatting*/
p.pre-content { white-space: pre-wrap;
  white-space:  -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */;}
